
<div class="modal fade" id="@modalId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title">مدیریت اشخاص</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                <label class="form-label">نام</label>
                <input class="form-control" @bind=person.Name />
                </div>
                <div class="mb-2">
                    <label class="form-label">نام خانوادگی</label>
                    <input class="form-control" @bind=person.Family />
                </div>
                <div class="mb-2">
                    <label class="form-label">کد ملی</label>
                    <input class="form-control  @nationalCodeValidation" aria-describedby="validationServer05Feedback" required @onfocusout=CheckNationalCode @bind=person.NationalCode />
                    <div id="validationServer05Feedback" class="invalid-feedback">
                        این کد ملی برای شخص دیگری ثبت شده
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label">آخرین مدرک تحصیلی</label>
                    <select class="form-select" @bind=person.DegreeId>
                        @if (degrees.Count == 0)
                        {
                            <option>
                                <SpinnerComponent />
                            </option>
                        }
                        else
                        {
                            <option value="@defaultGuid">لطفا یک مورد انتخاب کنید</option>
                            foreach (var item in degrees)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button type="button" class="btn btn-primary" @onclick="OnSave" disabled=@disableSave>ذخیره</button>
            </div>
        </div>
    </div>
</div>
